In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from ffipy import FFIEC_Client
from io import StringIO

In [44]:
failed_banks_df = pd.read_csv('data/failed_banks_dataset.csv')
failed_banks_df['Date'] = pd.to_datetime(failed_banks_df['Closing Date'])
failed_banks_df['Year_failed'] = failed_banks_df['Date'].dt.year
failed_banks_df['Quarter_failed'] = failed_banks_df['Date'].dt.quarter
failed_banks_2011Q1 = failed_banks_df.loc[(failed_banks_df.Year_failed == 2011) & (failed_banks_df.Quarter_failed == 1)]
failed_banks_2011Q1.head()
failed_banks_2011Q1['CERT'].count()

26

In [14]:
# Prepare dictionary of selected financials that are needed for CAMELS
selected_financials = {
                       'RIAD3210' : 'Total equity capital', # Alt can be RCONG105
                       'RCON2170' : 'Total assets', # Ok
                       'RCON3360' : 'Total loans', #ok
                       'RCON3465' : '1-4 family residential loans', 
                       'RCON3466' : 'Other real estate loans',
                       'RCON3387' : 'Commercial and industrial loans',
                       'RCONB561' : 'Credit cards',
                       'RCON3123' : 'Allowance for loan losses', # OK
                       'RIAD4093' : 'Total noninterest expense', #OK
                       'RIAD4300' : 'Net Income before', # # new for healthy
                       'RCON2215' : 'Total transaction deposits', # ok
                       'RCON2385' : 'Total nontransaction deposits', # ok
                       'RCON1773' : 'Available-for-sale Fair Value',
                       'RIAD4150' : 'Number of full-time employees'# new for healthy
                      }

In [25]:
banks_to_pull = list(failed_banks_2011Q1['CERT'])
banks_to_pull

[23306,
 58052,
 35065,
 58495,
 34578,
 19040,
 35561,
 34673,
 5287,
 35078,
 20340,
 35463,
 14580,
 57831,
 57885,
 34411,
 58087,
 31263,
 32582,
 22173,
 16089,
 2119,
 33904,
 32251,
 27573,
 34016,
 58205,
 30898,
 35250,
 21777]

In [26]:
client = FFIEC_Client()

In [29]:
report_data_dict = {}
for i in range(len(banks_to_pull)):

    ds_name = 'Call'    # Pull Call report data
    end_date = '9/30/2010'  # Pull data in reporting pd ending 3/31/17
    fiID_type = 'FDICCertNumber'  # Type of financial inst identifier (ID_RSSD, CERT )
    fiID = banks_to_pull[i]   # Indentifier for Wyomin Bank and Trust
    print("counter at ", i, " pulling CERT# ", fiID)
    fmt = 'SDF'  # Pull report as PDF
    # <facsimileFormat>PDF or XBRL or SDF</facsimileFormat>
    #outfile = 'test8.PDF'  # Output file path
    return_result = True  # If True, method returns the data
    try:
        f = client.retrieve_facsimile(ds_name=ds_name, reporting_pd_end=end_date,
                                      fiID_type=fiID_type, fiID=fiID,
                                      facsimile_fmt=fmt, outfile=False,
                                      return_result=True)
        report = StringIO(str(f, 'utf-8'))
        report_df = pd.read_csv(report, sep=';')
        
        key = banks_to_pull[i]
        report_data_dict[key] = {}
        for col in columns:
            df = report_df.loc[report_df['MDRM #'] == col]
            value = df.Value.values[0]
            report_data_dict[key][col] = value
        
        
        #report_df.columns = ['Call Date', 'Bank RSSD Identifier', 'ValueID', 'Value', 'Last Update',
       #'Short Definition', 'Call Schedule', 'Line Number']
        #values = list(report_df[report_df.ValueID.isin(columns)].Value)
        #fin_data_dic[fiID] = values
        #all_data_df = all_data_df.append(report_df, ignore_index=True)
    except:
        next

counter at  0  pulling CERT#  23306
counter at  1  pulling CERT#  58052
counter at  2  pulling CERT#  35065
counter at  3  pulling CERT#  58495
counter at  4  pulling CERT#  34578
counter at  5  pulling CERT#  19040
counter at  6  pulling CERT#  35561
counter at  7  pulling CERT#  34673
counter at  8  pulling CERT#  5287
counter at  9  pulling CERT#  35078
counter at  10  pulling CERT#  20340
counter at  11  pulling CERT#  35463
counter at  12  pulling CERT#  14580
counter at  13  pulling CERT#  57831
counter at  14  pulling CERT#  57885
counter at  15  pulling CERT#  34411
counter at  16  pulling CERT#  58087
counter at  17  pulling CERT#  31263
counter at  18  pulling CERT#  32582
counter at  19  pulling CERT#  22173
counter at  20  pulling CERT#  16089
counter at  21  pulling CERT#  2119
counter at  22  pulling CERT#  33904
counter at  23  pulling CERT#  32251
counter at  24  pulling CERT#  27573
counter at  25  pulling CERT#  34016
counter at  26  pulling CERT#  58205
counter at  27  pulling CERT#  30898
counter at  28  pulling CERT#  35250
counter at  29  pulling CERT#  21777

In [30]:
report_data_dict

{23306: {},
 58052: {},
 35065: {},
 34578: {},
 19040: {},
 35561: {},
 34673: {},
 5287: {},
 35078: {},
 20340: {},
 35463: {},
 14580: {},
 57831: {},
 57885: {},
 34411: {},
 58087: {},
 31263: {},
 22173: {},
 16089: {},
 2119: {},
 33904: {},
 32251: {},
 27573: {},
 34016: {},
 58205: {},
 35250: {},
 21777: {}}

In [31]:
failed_after_2010Q4 = pd.DataFrame.from_dict(report_data_dict, orient='index')

In [32]:
failed_after_2010Q4

Empty DataFrame
Columns: []
Index: []

In [68]:
failed_after_2010Q3_4Q = pd.DataFrame.from_dict(report_data_dict, orient='index')
failed_after_2010Q3_4Q.columns = selected_financials.values()
failed_after_2010Q3_4Q.head()
failed_after_2010Q3_4Q.to_csv('data/failed_after_2010Q3_4Q')

In [61]:
failed_after_2010Q3_1Q.head()
#failed_after_2010Q3_1Q.to_csv('data/failed_after_2010Q3_1Q')

,Total equity capital,Total assets,Total loans,1-4 family residential loans,Other real estate loans,Commercial and industrial loans,Credit cards,Allowance for loan losses,Total noninterest expense,Net Income before,Total transaction deposits,Total nontransaction deposits,Available-for-sale Fair Value,Number of full-time employees
2119,3168,131374,103128,20908,77983,1802,0,3624,2349,-6625,19567,107551,14505,35
5287,13143,821088,599528,190340,355680,24951,0,33430,12643,-22211,36152,679701,138053,133
14580,14321,689736,461369,138219,264915,59638,0,10851,10758,-17943,22777,573951,97635,141
16089,4258,148722,114147,34880,54794,21224,0,2618,3316,-1346,33275,106699,10199,41
19040,19262,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
failed_after_2010Q3.head()

,Total equity capital,Total assets,Total loans,1-4 family residential loans,Other real estate loans,Commercial and industrial loans,Credit cards,Allowance for loan losses,Total noninterest expense,Net Income before,Total transaction deposits,Total nontransaction deposits,Available-for-sale Fair Value,Number of full-time employees
2119,2683,126622,98809,25025,65844,1518,0,1334,3411,-7095,18550,104330,12262,35
5287,8463,750724,572553,175660,343516,28089,0,37225,19338,-27757,36539,628213,96511,190
14580,9020,654714,411257,126142,233365,53976,0,12604,16179,-22846,22062,565564,104592,136
16089,3742,143451,112780,34873,54578,20044,0,2409,5152,-1938,33116,102359,10118,41
19040,-775,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
#failed_after_2010Q3.to_csv('data/failed_after_2010Q3')
#failed_after_2010Q3_1Q.to_csv('data/failed_after_2010Q3_1Q')

In [103]:
failed_banks_2010Q3 = failed_banks_df.loc[(failed_banks_df.Year_failed == 2010) & (failed_banks_df.Quarter_failed == 3)]
banks_CERT_2010Q3_list = list(failed_banks_2010Q3.CERT)
banks_to_pull= list(banks_CERT_2010Q3_list)

In [104]:
# Pull 41 reports, drop all values but 13 selected metrics 
report_data_dict = {}
for i in range(len(banks_to_pull)):

    ds_name = 'Call'    # Pull Call report data
    end_date = '6/30/2010'  # Pull data in reporting pd ending 3/31/17
    fiID_type = 'FDICCertNumber'  # Type of financial inst identifier (ID_RSSD, CERT )
    fiID = banks_to_pull[i]   # Indentifier for Wyomin Bank and Trust
    print("counter at ", i, " pulling CERT# ", fiID)
    fmt = 'SDF'  # Pull report as PDF
    # <facsimileFormat>PDF or XBRL or SDF</facsimileFormat>
    #outfile = 'test8.PDF'  # Output file path
    return_result = True  # If True, method returns the data
    try:
        f = client.retrieve_facsimile(ds_name=ds_name, reporting_pd_end=end_date,
                                      fiID_type=fiID_type, fiID=fiID,
                                      facsimile_fmt=fmt, outfile=False,
                                      return_result=True)
        report = StringIO(str(f, 'utf-8'))
        report_df = pd.read_csv(report, sep=';')
        
        key = banks_to_pull[i]
        report_data_dict[key] = {}
        for col in columns:
            df = report_df.loc[report_df['MDRM #'] == col]
            value = df.Value.values[0]
            report_data_dict[key][col] = value
        
        
        #report_df.columns = ['Call Date', 'Bank RSSD Identifier', 'ValueID', 'Value', 'Last Update',
       #'Short Definition', 'Call Schedule', 'Line Number']
        #values = list(report_df[report_df.ValueID.isin(columns)].Value)
        #fin_data_dic[fiID] = values
        #all_data_df = all_data_df.append(report_df, ignore_index=True)
    except:
        next

counter at  0  pulling CERT#  35053
counter at  1  pulling CERT#  58308
counter at  2  pulling CERT#  28612
counter at  3  pulling CERT#  27808
counter at  4  pulling CERT#  182
counter at  5  pulling CERT#  57448
counter at  6  pulling CERT#  58197
counter at  7  pulling CERT#  57107
counter at  8  pulling CERT#  35061
counter at  9  pulling CERT#  27259
counter at  10  pulling CERT#  32165
counter at  11  pulling CERT#  33219
counter at  12  pulling CERT#  27090
counter at  13  pulling CERT#  15640
counter at  14  pulling CERT#  31623
counter at  15  pulling CERT#  27344
counter at  16  pulling CERT#  25266
counter at  17  pulling CERT#  17599
counter at  18  pulling CERT#  34231
counter at  19  pulling CERT#  31964
counter at  20  pulling CERT#  22643
counter at  21  pulling CERT#  9619
counter at  22  pulling CERT#  57669
counter at  23  pulling CERT#  57658
counter at  24  pulling CERT#  23181
counter at  25  pulling CERT#  35434
counter at  26  pulling CERT#  34486
counter at  27  pulling CERT#  10506
counter at  28  pulling CERT#  17837
counter at  29  pulling CERT#  27559
counter at  30  pulling CERT#  32536
counter at  31  pulling CERT#  28136
counter at  32  pulling CERT#  28864
counter at  33  pulling CERT#  32280
counter at  34  pulling CERT#  25172
counter at  35  pulling CERT#  35383
counter at  36  pulling CERT#  32571
counter at  37  pulling CERT#  11636
counter at  38  pulling CERT#  58072
counter at  39  pulling CERT#  32456
counter at  40  pulling CERT#  35462

In [105]:
failed_after_2010Q2 = pd.DataFrame.from_dict(report_data_dict, orient='index')
failed_after_2010Q2.columns = selected_financials.values()

In [106]:
#failed_after_2010Q2.to_csv('data/failed_after_2010Q2')

In [107]:
failed_banks_2010Q2 = failed_banks_df.loc[(failed_banks_df.Year_failed == 2010) & (failed_banks_df.Quarter_failed == 2)]
banks_CERT_2010Q2_list = list(failed_banks_2010Q2.CERT)
banks_to_pull = banks_CERT_2010Q2_list
banks_to_pull[44]

34242

In [108]:
# Pull 45 reports, drop all values but 13 selected metrics 
report_data_dict = {}
for i in range(len(banks_to_pull)):

    ds_name = 'Call'    # Pull Call report data
    end_date = '3/31/2010'  # Pull data in reporting pd ending 3/31/17
    fiID_type = 'FDICCertNumber'  # Type of financial inst identifier (ID_RSSD, CERT )
    fiID = banks_to_pull[i]   # Indentifier for Wyomin Bank and Trust
    print("counter at ", i, " pulling CERT# ", fiID)
    fmt = 'SDF'  # Pull report as PDF
    # <facsimileFormat>PDF or XBRL or SDF</facsimileFormat>
    #outfile = 'test8.PDF'  # Output file path
    return_result = True  # If True, method returns the data
    try:
        f = client.retrieve_facsimile(ds_name=ds_name, reporting_pd_end=end_date,
                                      fiID_type=fiID_type, fiID=fiID,
                                      facsimile_fmt=fmt, outfile=False,
                                      return_result=True)
        report = StringIO(str(f, 'utf-8'))
        report_df = pd.read_csv(report, sep=';')
        
        key = banks_to_pull[i]
        report_data_dict[key] = {}
        for col in columns:
            df = report_df.loc[report_df['MDRM #'] == col]
            value = df.Value.values[0]
            report_data_dict[key][col] = value
        
        
        #report_df.columns = ['Call Date', 'Bank RSSD Identifier', 'ValueID', 'Value', 'Last Update',
       #'Short Definition', 'Call Schedule', 'Line Number']
        #values = list(report_df[report_df.ValueID.isin(columns)].Value)
        #fin_data_dic[fiID] = values
        #all_data_df = all_data_df.append(report_df, ignore_index=True)
    except:
        next

counter at  0  pulling CERT#  35279
counter at  1  pulling CERT#  34152
counter at  2  pulling CERT#  26563
counter at  3  pulling CERT#  57110
counter at  4  pulling CERT#  32955
counter at  5  pulling CERT#  29341
counter at  6  pulling CERT#  31813
counter at  7  pulling CERT#  15814
counter at  8  pulling CERT#  34785
counter at  9  pulling CERT#  57315
counter at  10  pulling CERT#  57814
counter at  11  pulling CERT#  35106
counter at  12  pulling CERT#  57360
counter at  13  pulling CERT#  57735
counter at  14  pulling CERT#  18117
counter at  15  pulling CERT#  34255
counter at  16  pulling CERT#  35586
counter at  17  pulling CERT#  35114
counter at  18  pulling CERT#  35517
counter at  19  pulling CERT#  57697
counter at  20  pulling CERT#  16476
counter at  21  pulling CERT#  14246
counter at  22  pulling CERT#  22710
counter at  23  pulling CERT#  17792
counter at  24  pulling CERT#  58362
counter at  25  pulling CERT#  30005
counter at  26  pulling CERT#  31027
counter at  27  pulling CERT#  32185
counter at  28  pulling CERT#  27150
counter at  29  pulling CERT#  58429
counter at  30  pulling CERT#  10888
counter at  31  pulling CERT#  30600
counter at  32  pulling CERT#  34821
counter at  33  pulling CERT#  34658
counter at  34  pulling CERT#  22853
counter at  35  pulling CERT#  3735
counter at  36  pulling CERT#  21521
counter at  37  pulling CERT#  33493
counter at  38  pulling CERT#  23876
counter at  39  pulling CERT#  26619
counter at  40  pulling CERT#  24067
counter at  41  pulling CERT#  57724
counter at  42  pulling CERT#  28886
counter at  43  pulling CERT#  34878
counter at  44  pulling CERT#  34242

In [109]:
failed_after_2010Q1 = pd.DataFrame.from_dict(report_data_dict, orient='index')
failed_after_2010Q1.columns = selected_financials.values()

In [110]:
failed_after_2010Q1.tail()

,Total equity capital,Total assets,Total loans,1-4 family residential loans,Other real estate loans,Commercial and industrial loans,Credit cards,Allowance for loan losses,Total noninterest expense,Net Income before,Total transaction deposits,Total nontransaction deposits,Available-for-sale Fair Value,Number of full-time employees
57724,-317,104034,65031,7104,52235,5304,0,3813,936,-684,6153,93917,4024,20
57735,-446,61215,58810,15417,27911,10969,0,5182,684,-1205,4515,53773,1000,12
57814,-2177,240513,210642,11468,134021,24768,0,9253,2629,-9449,5650,218374,24770,23
58362,3469,195510,139262,31823,100400,5887,0,8025,1611,-765,13303,149513,11670,29
58429,-10986,441694,396899,46353,292970,51370,0,34827,3224,-2953,6038,442879,2367,23

In [111]:
#failed_after_2010Q1.to_csv('data/failed_after_2010Q1')

In [112]:
failed_banks_2010Q1 = failed_banks_df.loc[(failed_banks_df.Year_failed == 2010) & (failed_banks_df.Quarter_failed == 1)]
banks_CERT_2010Q1_list = list(failed_banks_2010Q1.CERT)
banks_to_pull = banks_CERT_2010Q1_list
banks_to_pull[40]

22977

In [113]:
# Pull 41 reports, drop all values but 13 selected metrics < -- returns 37
report_data_dict = {}
for i in range(len(banks_to_pull)):

    ds_name = 'Call'    # Pull Call report data
    end_date = '12/31/2009'  # Pull data in reporting pd ending 3/31/17
    fiID_type = 'FDICCertNumber'  # Type of financial inst identifier (ID_RSSD, CERT )
    fiID = banks_to_pull[i]   # Indentifier for Wyomin Bank and Trust
    print("counter at ", i, " pulling CERT# ", fiID)
    fmt = 'SDF'  # Pull report as PDF
    # <facsimileFormat>PDF or XBRL or SDF</facsimileFormat>
    #outfile = 'test8.PDF'  # Output file path
    return_result = True  # If True, method returns the data
    try:
        f = client.retrieve_facsimile(ds_name=ds_name, reporting_pd_end=end_date,
                                      fiID_type=fiID_type, fiID=fiID,
                                      facsimile_fmt=fmt, outfile=False,
                                      return_result=True)
        report = StringIO(str(f, 'utf-8'))
        report_df = pd.read_csv(report, sep=';')
        
        key = banks_to_pull[i]
        report_data_dict[key] = {}
        for col in columns:
            df = report_df.loc[report_df['MDRM #'] == col]
            value = df.Value.values[0]
            report_data_dict[key][col] = value
        
        
        #report_df.columns = ['Call Date', 'Bank RSSD Identifier', 'ValueID', 'Value', 'Last Update',
       #'Short Definition', 'Call Schedule', 'Line Number']
        #values = list(report_df[report_df.ValueID.isin(columns)].Value)
        #fin_data_dic[fiID] = values
        #all_data_df = all_data_df.append(report_df, ignore_index=True)
    except:
        next

counter at  0  pulling CERT#  57060
counter at  1  pulling CERT#  34678
counter at  2  pulling CERT#  34684
counter at  3  pulling CERT#  57399
counter at  4  pulling CERT#  8221
counter at  5  pulling CERT#  24957
counter at  6  pulling CERT#  10054
counter at  7  pulling CERT#  33989
counter at  8  pulling CERT#  33535
counter at  9  pulling CERT#  58104
counter at  10  pulling CERT#  18806
counter at  11  pulling CERT#  29561
counter at  12  pulling CERT#  58182
counter at  13  pulling CERT#  27096
counter at  14  pulling CERT#  58071
counter at  15  pulling CERT#  34430
counter at  16  pulling CERT#  34976
counter at  17  pulling CERT#  9268
counter at  18  pulling CERT#  27126
counter at  19  pulling CERT#  38129
counter at  20  pulling CERT#  58352
counter at  21  pulling CERT#  32423
counter at  22  pulling CERT#  29952
counter at  23  pulling CERT#  3287
counter at  24  pulling CERT#  57586
counter at  25  pulling CERT#  15448
counter at  26  pulling CERT#  16730
counter at  27  pulling CERT#  23011
counter at  28  pulling CERT#  5702
counter at  29  pulling CERT#  16133
counter at  30  pulling CERT#  5672
counter at  31  pulling CERT#  16480
counter at  32  pulling CERT#  22469
counter at  33  pulling CERT#  20501
counter at  34  pulling CERT#  32498
counter at  35  pulling CERT#  8265
counter at  36  pulling CERT#  57147
counter at  37  pulling CERT#  1252
counter at  38  pulling CERT#  17522
counter at  39  pulling CERT#  34705
counter at  40  pulling CERT#  22977

In [114]:
failed_after_2009Q4 = pd.DataFrame.from_dict(report_data_dict, orient='index')
failed_after_2009Q4.columns = selected_financials.values()

In [115]:
#failed_after_2009Q4.to_csv('data/failed_after_2009Q4')

In [ ]:





# Second approach:
# Take banks that failed in 2010Q4 and pull their historic reports, Q2, Q1, Q4

In [38]:
client = FFIEC_Client()

In [39]:
#banks_to_pull = list(failed_banks_2010Q4['CERT'])
banks_to_pull = [23306]

In [40]:
report_data_dict = {}

for i in range(len(banks_to_pull)):

    ds_name = 'Call'    # Pull Call report data
    end_date = '9/30/2010'  # Pull data in reporting pd ending 3/31/17
    fiID_type = 'FDICCertNumber'  # Type of financial inst identifier (ID_RSSD, CERT )
    fiID = banks_to_pull[i]   # Indentifier for Wyomin Bank and Trust
    print("counter at ", i, " pulling CERT# ", fiID)
    fmt = 'SDF'  # Pull report as PDF
    # <facsimileFormat>PDF or XBRL or SDF</facsimileFormat>
    #outfile = 'test8.PDF'  # Output file path
    return_result = True  # If True, method returns the data
    try:
        f = client.retrieve_facsimile(ds_name=ds_name, reporting_pd_end=end_date,
                                      fiID_type=fiID_type, fiID=fiID,
                                      facsimile_fmt=fmt, outfile=False,
                                      return_result=True)
        report = StringIO(str(f, 'utf-8'))
        report_df = pd.read_csv(report, sep=';')
        key = filers_RSSD_09302010[i]
        report_data_dict[key] = {}
        for col in columns:
            df = report_df.loc[report_df['MDRM #'] == col]
            value = df.Value.values[0]
            report_data_dict[key][col] = value
        #report_df.columns = ['Call Date', 'Bank RSSD Identifier', 'ValueID', 'Value', 'Last Update',
       #'Short Definition', 'Call Schedule', 'Line Number']
       # values = list(report_df[report_df.ValueID.isin(columns)].Value)
       # fin_data_dic[fiID] = values
        #all_data_df = all_data_df.append(report_df, ignore_index=True)
    except:
        next

counter at  0  pulling CERT#  23306

In [41]:
report_data_dict

{}

In [34]:
report_data_dict = {}
for i in range(len(banks_to_pull)):

    ds_name = 'Call'    # Pull Call report data
    end_date = '9/30/2010'  # Pull data in reporting pd ending 3/31/17
    fiID_type = 'FDICCertNumber'  # Type of financial inst identifier (ID_RSSD, CERT )
    fiID = banks_to_pull[i]   # Indentifier for Wyomin Bank and Trust
    print("counter at ", i, " pulling CERT# ", fiID)
    fmt = 'SDF'  # Pull report as PDF
    # <facsimileFormat>PDF or XBRL or SDF</facsimileFormat>
    #outfile = 'test8.PDF'  # Output file path
    return_result = True  # If True, method returns the data
    try:
        f = client.retrieve_facsimile(ds_name=ds_name, reporting_pd_end=end_date,
                                      fiID_type=fiID_type, fiID=fiID,
                                      facsimile_fmt=fmt, outfile=False,
                                      return_result=True)
        report = StringIO(str(f, 'utf-8'))
        report_df = pd.read_csv(report, sep=';')
        
        key = banks_to_pull[i]
        report_data_dict[key] = {}
        for col in columns:
            df = report_df.loc[report_df['MDRM #'] == col]
            value = df.Value.values[0]
            report_data_dict[key][col] = value
    except:
        next

counter at  0  pulling CERT#  23306

In [35]:
report_data_dict

{23306: {}}

In [30]:
# Expecxted 30 reports, drop all values but 13 selected metrics < -- returns 37
report_data_dict = {}
for i in range(len(banks_to_pull)):

    ds_name = 'Call'    # Pull Call report data
    end_date = '9/30/2010'  # Pull data in reporting pd ending 3/31/17
    fiID_type = 'FDICCertNumber'  # Type of financial inst identifier (ID_RSSD, CERT )
    fiID = banks_to_pull[i]   # Indentifier for Wyomin Bank and Trust
    print("counter at ", i, " pulling CERT# ", fiID)
    fmt = 'SDF'  # Pull report as PDF
    # <facsimileFormat>PDF or XBRL or SDF</facsimileFormat>
    #outfile = 'test8.PDF'  # Output file path
    return_result = True  # If True, method returns the data
    try:
        f = client.retrieve_facsimile(ds_name=ds_name, reporting_pd_end=end_date,
                                      fiID_type=fiID_type, fiID=fiID,
                                      facsimile_fmt=fmt, outfile=False,
                                      return_result=True)
        report = StringIO(str(f, 'utf-8'))
        report_df = pd.read_csv(report, sep=';')
        
        key = banks_to_pull[i]
        report_data_dict[key] = {}
        for col in columns:
            df = report_df.loc[report_df['MDRM #'] == col]
            value = df.Value.values[0]
            report_data_dict[key][col] = value

    except:
        next

counter at  0  pulling CERT#  23306
counter at  1  pulling CERT#  58052
counter at  2  pulling CERT#  35065
counter at  3  pulling CERT#  58495
counter at  4  pulling CERT#  34578
counter at  5  pulling CERT#  19040
counter at  6  pulling CERT#  35561
counter at  7  pulling CERT#  34673
counter at  8  pulling CERT#  5287
counter at  9  pulling CERT#  35078
counter at  10  pulling CERT#  20340
counter at  11  pulling CERT#  35463
counter at  12  pulling CERT#  14580
counter at  13  pulling CERT#  57831
counter at  14  pulling CERT#  57885
counter at  15  pulling CERT#  34411
counter at  16  pulling CERT#  58087
counter at  17  pulling CERT#  31263
counter at  18  pulling CERT#  32582
counter at  19  pulling CERT#  22173
counter at  20  pulling CERT#  16089
counter at  21  pulling CERT#  2119
counter at  22  pulling CERT#  33904
counter at  23  pulling CERT#  32251
counter at  24  pulling CERT#  27573
counter at  25  pulling CERT#  34016
counter at  26  pulling CERT#  58205
counter at  27  pulling CERT#  30898
counter at  28  pulling CERT#  35250
counter at  29  pulling CERT#  21777

In [31]:
report_data_dict

{23306: {},
 58052: {},
 35065: {},
 34578: {},
 19040: {},
 35561: {},
 34673: {},
 5287: {},
 35078: {},
 20340: {},
 35463: {},
 14580: {},
 57831: {},
 57885: {},
 34411: {},
 58087: {},
 31263: {},
 22173: {},
 16089: {},
 2119: {},
 33904: {},
 32251: {},
 27573: {},
 34016: {},
 58205: {},
 35250: {},
 21777: {}}

In [6]:
banks_to_pull = list(failed_banks_2010Q4['CERT'])

In [10]:
# Pull 41 reports, drop all values but 13 selected metrics < -- returns 37
report_data_dict = {}
for i in range(len(banks_to_pull)):

    ds_name = 'Call'    # Pull Call report data
    end_date = '3/31/2010'  # Pull data in reporting pd ending 3/31/17
    fiID_type = 'FDICCertNumber'  # Type of financial inst identifier (ID_RSSD, CERT )
    fiID = banks_to_pull[i]   # Indentifier for Wyomin Bank and Trust
    print("counter at ", i, " pulling CERT# ", fiID)
    fmt = 'SDF'  # Pull report as PDF
    # <facsimileFormat>PDF or XBRL or SDF</facsimileFormat>
    #outfile = 'test8.PDF'  # Output file path
    return_result = True  # If True, method returns the data
    try:
        f = client.retrieve_facsimile(ds_name=ds_name, reporting_pd_end=end_date,
                                      fiID_type=fiID_type, fiID=fiID,
                                      facsimile_fmt=fmt, outfile=False,
                                      return_result=True)
        report = StringIO(str(f, 'utf-8'))
        report_df = pd.read_csv(report, sep=';')
        
        key = banks_to_pull[i]
        report_data_dict[key] = {}
        for col in columns:
            df = report_df.loc[report_df['MDRM #'] == col]
            value = df.Value.values[0]
            report_data_dict[key][col] = value
        
        
        #report_df.columns = ['Call Date', 'Bank RSSD Identifier', 'ValueID', 'Value', 'Last Update',
       #'Short Definition', 'Call Schedule', 'Line Number']
        #values = list(report_df[report_df.ValueID.isin(columns)].Value)
        #fin_data_dic[fiID] = values
        #all_data_df = all_data_df.append(report_df, ignore_index=True)
    except:
        next

counter at  0  pulling CERT#  23306
counter at  1  pulling CERT#  58052
counter at  2  pulling CERT#  35065
counter at  3  pulling CERT#  58495
counter at  4  pulling CERT#  34578
counter at  5  pulling CERT#  19040
counter at  6  pulling CERT#  35561
counter at  7  pulling CERT#  34673
counter at  8  pulling CERT#  5287
counter at  9  pulling CERT#  35078
counter at  10  pulling CERT#  20340
counter at  11  pulling CERT#  35463
counter at  12  pulling CERT#  14580
counter at  13  pulling CERT#  57831
counter at  14  pulling CERT#  57885
counter at  15  pulling CERT#  34411
counter at  16  pulling CERT#  58087
counter at  17  pulling CERT#  31263
counter at  18  pulling CERT#  32582
counter at  19  pulling CERT#  22173
counter at  20  pulling CERT#  16089
counter at  21  pulling CERT#  2119
counter at  22  pulling CERT#  33904
counter at  23  pulling CERT#  32251
counter at  24  pulling CERT#  27573
counter at  25  pulling CERT#  34016
counter at  26  pulling CERT#  58205
counter at  27  pulling CERT#  30898
counter at  28  pulling CERT#  35250
counter at  29  pulling CERT#  21777

In [81]:
# Validation data set for 2019 Q2 -- 1 bank should be there 
failed_banks_2019Q2

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date,Date,Year_failed,Quarter_failed
0,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19,22-Aug-19,2019-05-31,2019,2

In [82]:
banks_to_pull = list(failed_banks_2019Q2['CERT'])

In [83]:
banks_to_pull

[10716]

In [84]:
# Pull 1 report, drop all values but 13 selected metrics
report_data_dict = {}
for i in range(len(banks_to_pull)):

    ds_name = 'Call'    # Pull Call report data
    end_date = '12/31/2018'  # Pull data in reporting pd ending 3/31/17
    fiID_type = 'FDICCertNumber'  # Type of financial inst identifier (ID_RSSD, CERT )
    fiID = banks_to_pull[i]   # Indentifier for Wyomin Bank and Trust
    print("counter at ", i, " pulling CERT# ", fiID)
    fmt = 'SDF'  # Pull report as PDF
    # <facsimileFormat>PDF or XBRL or SDF</facsimileFormat>
    #outfile = 'test8.PDF'  # Output file path
    return_result = True  # If True, method returns the data
    try:
        f = client.retrieve_facsimile(ds_name=ds_name, reporting_pd_end=end_date,
                                      fiID_type=fiID_type, fiID=fiID,
                                      facsimile_fmt=fmt, outfile=False,
                                      return_result=True)
        report = StringIO(str(f, 'utf-8'))
        report_df = pd.read_csv(report, sep=';')
        
        key = banks_to_pull[i]
        report_data_dict[key] = {}
        for col in columns:
            df = report_df.loc[report_df['MDRM #'] == col]
            value = df.Value.values[0]
            report_data_dict[key][col] = value
        
        
        #report_df.columns = ['Call Date', 'Bank RSSD Identifier', 'ValueID', 'Value', 'Last Update',
       #'Short Definition', 'Call Schedule', 'Line Number']
        #values = list(report_df[report_df.ValueID.isin(columns)].Value)
        #fin_data_dic[fiID] = values
        #all_data_df = all_data_df.append(report_df, ignore_index=True)
    except:
        next

counter at  0  pulling CERT#  10716

In [85]:
report_data_dict

{10716: {'RIAD3210': '3221',
  'RCON2170': '36485',
  'RCON3360': '29255',
  'RCON3465': '5907',
  'RCON3466': '4457',
  'RCON3387': '5783',
  'RCONB561': '0',
  'RCON3123': '154',
  'RIAD4093': '1007',
  'RIAD4300': '428',
  'RCON2215': '9850',
  'RCON2385': '20853',
  'RCON1773': '0',
  'RIAD4150': '8'}}

In [86]:
failed_after_2019Q2 = pd.DataFrame.from_dict(report_data_dict, orient='index')
failed_after_2019Q2.columns = selected_financials.values()
#failed_after_2019Q2.to_csv('data/failed_after_2019Q2_OOS')
failed_after_2019Q2

,Total equity capital,Total assets,Total loans,1-4 family residential loans,Other real estate loans,Commercial and industrial loans,Credit cards,Allowance for loan losses,Total noninterest expense,Net Income before,Total transaction deposits,Total nontransaction deposits,Available-for-sale Fair Value,Number of full-time employees
10716,3221,36485,29255,5907,4457,5783,0,154,1007,428,9850,20853,0,8

In [87]:
# Another validation set for banks failed 2011 Q3 
banks_to_pull = list(failed_banks_2011Q4['CERT'])

In [88]:
banks_to_pull

[57917,
 58343,
 19657,
 14194,
 57860,
 57087,
 19397,
 57759,
 21132,
 57036,
 34392,
 57537,
 35395,
 58046,
 32347,
 57256,
 20115,
 10216]

In [89]:
# Pull 1 report, drop all values but 13 selected metrics
report_data_dict = {}
for i in range(len(banks_to_pull)):

    ds_name = 'Call'    # Pull Call report data
    end_date = '9/30/2011'  # Pull data in reporting pd ending 3/31/17
    fiID_type = 'FDICCertNumber'  # Type of financial inst identifier (ID_RSSD, CERT )
    fiID = banks_to_pull[i]   # Indentifier for Wyomin Bank and Trust
    print("counter at ", i, " pulling CERT# ", fiID)
    fmt = 'SDF'  # Pull report as PDF
    # <facsimileFormat>PDF or XBRL or SDF</facsimileFormat>
    #outfile = 'test8.PDF'  # Output file path
    return_result = True  # If True, method returns the data
    try:
        f = client.retrieve_facsimile(ds_name=ds_name, reporting_pd_end=end_date,
                                      fiID_type=fiID_type, fiID=fiID,
                                      facsimile_fmt=fmt, outfile=False,
                                      return_result=True)
        report = StringIO(str(f, 'utf-8'))
        report_df = pd.read_csv(report, sep=';')
        
        key = banks_to_pull[i]
        report_data_dict[key] = {}
        for col in columns:
            df = report_df.loc[report_df['MDRM #'] == col]
            value = df.Value.values[0]
            report_data_dict[key][col] = value
        
        
        #report_df.columns = ['Call Date', 'Bank RSSD Identifier', 'ValueID', 'Value', 'Last Update',
       #'Short Definition', 'Call Schedule', 'Line Number']
        #values = list(report_df[report_df.ValueID.isin(columns)].Value)
        #fin_data_dic[fiID] = values
        #all_data_df = all_data_df.append(report_df, ignore_index=True)
    except:
        next

counter at  0  pulling CERT#  57917
counter at  1  pulling CERT#  58343
counter at  2  pulling CERT#  19657
counter at  3  pulling CERT#  14194
counter at  4  pulling CERT#  57860
counter at  5  pulling CERT#  57087
counter at  6  pulling CERT#  19397
counter at  7  pulling CERT#  57759
counter at  8  pulling CERT#  21132
counter at  9  pulling CERT#  57036
counter at  10  pulling CERT#  34392
counter at  11  pulling CERT#  57537
counter at  12  pulling CERT#  35395
counter at  13  pulling CERT#  58046
counter at  14  pulling CERT#  32347
counter at  15  pulling CERT#  57256
counter at  16  pulling CERT#  20115
counter at  17  pulling CERT#  10216

In [90]:
len(report_data_dict)

18

In [91]:
failed_after_2011Q3 = pd.DataFrame.from_dict(report_data_dict, orient='index')
failed_after_2011Q3.columns = selected_financials.values()
#failed_after_2011Q3.to_csv('data/failed_after_2011Q3_OOS')
failed_after_2011Q3

,Total equity capital,Total assets,Total loans,1-4 family residential loans,Other real estate loans,Commercial and industrial loans,Credit cards,Allowance for loan losses,Total noninterest expense,Net Income before,Total transaction deposits,Total nontransaction deposits,Available-for-sale Fair Value,Number of full-time employees
10216,4765,419723,327000,78674,194499,37271,173,12053,19479,-10427,28555,355565,27312,112
14194,1507,91580,55314,20526,22037,9932,0,2297,4475,-2294,29634,52333,9320,33
19397,298,106075,59149,14126,7740,34785,0,4970,5354,-6825,39142,66319,32663,38
19657,2453,383132,247663,33551,187004,11015,1234,8068,24139,-19373,29191,318530,5691,160
20115,14716,351492,253304,75769,136345,32327,0,14254,8727,-14373,72780,207869,53131,119
21132,22179,1280964,1008764,177186,541556,203988,0,46324,33210,-33054,292270,947360,21390,277
32347,1433,161430,93713,39944,53239,441,0,4752,3927,-2944,7305,152323,0,41
34392,1613,184750,99260,23658,64669,8527,0,3051,5200,-5146,36837,135205,43837,36
35395,-6583,195034,164616,2572,60525,40857,0,23628,3658,-12765,17672,163163,36997,30
57036,1891,165291,129769,24092,83153,2817,0,2350,7012,-2569,13497,144311,75,32
57087,12672,198081,128175,26537,78789,20863,0,7008,4672,-7514,32350,136785,20296,40
57256,1325,198993,120294,19496,76911,4473,0,5672,6724,-8121,12561,166212,29277,22
57537,-3542,209048,155310,26103,113159,18535,0,4972,6744,-9944,24730,187454,31661,42
57759,701,34800,26489,1414,22550,2293,0,2103,1496,-1135,3788,26754,3026,9
57860,1364,62383,41393,14279,22331,3434,0,1373,1777,-103,5875,50031,9029,12
57917,1715,162872,151192,26916,118688,5386,0,10499,6313,-6198,34866,109625,3499,23
58046,2048,191852,146160,17061,40530,83970,0,6669,6646,-1286,19260,168839,21681,25
58343,-1080,125976,87080,12349,67543,5907,0,2990,4097,-4361,9087,102963,15333,23

In [45]:
#banks_to_pull = list(failed_banks_2011Q4['CERT'])
banks_to_pull = list(failed_banks_2011Q1['CERT'])
len(banks_to_pull)

26

In [52]:
#failed_after_2010Q4 = pd.DataFrame.from_dict(report_data_dict, orient='index')
#failed_after_2010Q4.columns = selected_financials.values()
# #failed_after_2010Q4.to_csv('data/failed_after_2010Q4_OOS')
#failed_after_2010Q4

Empty DataFrame
Columns: []
Index: []

In [ ]:
all_data_df = pd.DataFrame()
report_data_dict = {}

for i in range(len(banks_to_pull)):

    ds_name = 'Call'    # Pull Call report data
    end_date = '12/31/2010'  # Pull data in reporting pd ending 3/31/17
    fiID_type = 'FDICCertNumber'  # Type of financial inst identifier (ID_RSSD, CERT )
    fiID = banks_to_pull[i]   # Indentifier for Wyomin Bank and Trust
    #print("counter at ", i, " pulling RSSD# ", fiID)
    fmt = 'SDF'  # Pull report as PDF
    # <facsimileFormat>PDF or XBRL or SDF</facsimileFormat>
    #outfile = 'test8.PDF'  # Output file path
    return_result = True  # If True, method returns the data
    try:
        f = client.retrieve_facsimile(ds_name=ds_name, reporting_pd_end=end_date,
                                      fiID_type=fiID_type, fiID=fiID,
                                      facsimile_fmt=fmt, outfile=False,
                                      return_result=True)
        report = StringIO(str(f, 'utf-8'))
        report_df = pd.read_csv(report, sep=';')
        key = banks_to_pull[i]
        report_data_dict[key] = {}
        for col in columns:
            df = report_df.loc[report_df['MDRM #'] == col]
            value = df.Value.values[0]
            report_data_dict[key][col] = value
    except:
        next

In [ ]:
# Inspect the data pulled
#
#failed_after_2010Q4 = pd.DataFrame.from_dict(report_data_dict, orient='index')
#len(failed_after_2010Q4.index)
#failed_after_2010Q4.describe()
#failed_after_2010Q4.columns
#failed_after_2010Q4.head()
#store the data
failed_after_2010Q4.to_csv('data/failed_after_2010Q4_OOS') #<- need to redo 2011Q4